<ion-grid class="grid-background ion-padding">
  <ion-row class="ion-padding ion-align-items-center">
    <ion-col sizeLg="auto" sizeMd="12" size="12" #brand>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col size="auto">
          <img src="../../../assets/icon/mainLogoWhite.svg">
        </ion-col>
        <ion-col class="brand-name" size="auto">
          Creanton
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col class="copy-right" sizeMd="12" size="12" sizeLg="8" #copyright>
      <ion-row [ngClass]="{'ion-justify-content-center':copyright?.size=='12'}">
        © Copyright 2024. All Rights Reserved.
      </ion-row>

    </ion-col>
    <ion-col sizeLg="auto" sizeMd="12" size="12" #tempcol>
      <ion-row class="ion-align-items-center" [ngClass]="{'ion-justify-content-center':tempcol?.size=='12'}">
        <ion-col class="follow" size="auto">
          FOLLOW ME:
        </ion-col>
        <ion-col size="auto">
          <a href="https://in.linkedin.com/in/simgam-vedaprakash-645041158" target="_blank"><img
              src="../../../assets/icon/linkedInLogo.svg"></a>
        </ion-col>
        <ion-col size="auto">
          <a href="mailto:vedaprakashiiit@gmail.com" target="_blank"><img src="../../../assets/icon/emailIcon.svg"></a>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>