.main-text
{
    color: #333;
    font-family: 'Zen Kaku Gothic Antique';
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: 25px; /* 100% */
    padding-left: 8px;
}
ion-header
{
    box-shadow: none;
}
.menu-items
{
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.chat-button
{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    --border-radius:50px;
    --box-shadow: none;
    text-transform: capitalize;
}