<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Quick Actions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-row class="ion-padding menu-item" *ngFor="let item of menuItems" (click)="scrollToSection(item)">
      {{item.name}}
    </ion-row>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-grid>
        <ion-row class="ion-padding-horizontal ion-align-items-center">
          <ion-col size="auto" class="ion-no-padding">
            <ion-row class="ion-align-items-center">
              <ion-col size="auto">
                <img src="../assets/icon/mainLogo.svg">
              </ion-col>
              <ion-col class="main-text">
                Creanton
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col class="ion-hide-md-down">
            <ion-row class="ion-align-items-center ion-justify-content-end">
              <ion-col size="auto" *ngFor="let item of menuItems" class="menu-items ion-padding-horizontal" (click)="scrollToSection(item)">
                {{item.name}}
              </ion-col>
              <ion-col size="auto">
                <ion-button class="chat-button" color="primary">
                  <ion-icon name="person-circle-outline" slot="start"></ion-icon>
                  Veda Prakash
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>
         
        </ion-row>
      </ion-grid>
      <ion-buttons slot="end" class="ion-hide-md-up">
        <ion-menu-button>
          <ion-icon src="../assets/icon/menuIcon.svg"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
    
    
  </ion-header>
  <ion-content> 
    <router-outlet></router-outlet>
  </ion-content>
</div>
