.header-sub-text {
    color: var(--ion-color-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.main-text-blue {
    color: #07F;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-text-black {
    color: #222;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    @media screen and (max-width:576px) {
        font-size: 30px;
    }
}

.sub-text {
    margin-top: 25px;
    color: #222;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.bold {
    font-weight: 700;
}
.skills-heading {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    /* 150% */
}
.skills-heading + .success
{
    color: var(--ion-color-success) !important;
}

.bottom-div {
    border-radius: 10px;
    background: #EEE;
    height: 17px;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.top-div {
    border-radius: 10px;
    overflow: hidden;
    animation: increaseWidth60 2s ease-in-out;
}
.success{
    background: var(--ion-color-success);
}
.danger{
    background: var(--ion-color-danger);
}
.warning{
    background: var(--ion-color-warning);
}
@keyframes increaseWidth60 {
    0% {
        width: 0;
    }
}

// .top-div-80 {
//     animation: increaseWidth80 2s ease-in-out;
// }

@keyframes increaseWidth80 {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

// .top-div-70 {
//     animation: increaseWidth70 2s ease-in-out;
// }

@keyframes increaseWidth70 {
    0% {
        width: 0;
    }

    100% {
        width: 70%;
    }
}

a {
    text-decoration: none;
}

@media screen and (max-width:700px) {
    .mobile-image {
        height: 300px;
    }

}
.experience-cards
{
    gap: 24px;
    margin: 15px 0px;
    .experience-card{
        width: 300px;
        padding: 16px;
        gap: 16px;
        display: grid;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0px 1px 2px 0 rgba(16, 24, 40,0.1);
        .header{
            gap: 16px;
            img{
                width: 48px;
                height: 48px;
            }
            .header-name
            {
                font-size: 16px;
                font-weight: 700;
            }
        }
        .role
        {
            font-size: 18px;
            font-weight: 600;
            color: #1C1C57;
        }
        .dates
        {
            font-size: 16px;
            font-weight: 400;
            color: #1C1C57;
        }
        .description
        {
            font-size: 16px;
            color: #3E3E70;
        }
    }
}
#experience
{
   background-color: #F6F8FF;
}
.sub-header-text
{
    text-transform: none !important;
    font-weight: 500 !important;
    font-size: 16px !important;
}
.tab
{
    box-shadow: 0px 1px 2px 0 rgba(16, 24, 40,0.1);
    padding: 15px;
    border-radius: 20px;
    width: auto;
    .gap
    {
        gap: 8px;
    }
    img{
        width: 38px;
        height: 38px;
    }
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    @media screen and (max-width:576px) {
        padding: 5px;
        border-radius: 10px;
        .gap
        {
            gap: 8px;
            >ion-col
            {
                display: flex;
            }
        }
        img{
            width: 20px;
            height: 20px;
        }
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }
}
.current-tab
{
    border: 1.5px solid #4A3AFF;
    color: #4A3AFF;
}
.gap-18
{
    gap: 18px;
    margin-top: 15px;
    // display: grid;
}
.card-border
{
    border: 0.5px solid rgba(16, 24, 40,0.1);
    border-radius: 10px;
    
    .certificate-card
    {
        border-top: 0.5px solid rgba(16, 24, 40,0.1);
    }
    .no-border
    {
        border: none;
    }
    .certificate-header
    {
        font-size: 16px;
        font-weight: bold;
        color: #000 !important;
    }
    .certificate-main-text
    {
        font-size: 14px;
        font-weight: 400;
        color: #000 !important;
    }
    .certificate-sub-text
    {
        font-size: 14px;
        font-weight: 400;
        color: #00000099!important;
    }
}