
<div style="width: 100%;overflow-y: scroll">
  <section id="home">
    <ion-grid class="ion-padding">
      <ion-row class="ion-padding ion-align-items-center ion-justify-content-center">
        <ion-col class="ion-padding">
          <ion-row class="welcome-text">Welcome to my Portfolio</ion-row>
          <ion-row class="highlight-text">Hi I'm</ion-row>
          <ion-row class="name-text">Veda Prakash</ion-row>
          <ion-row class="highlight-text">Web Developer</ion-row>
          <ion-row class="sub-text">Collaborating with highly skilled individuals, our agency delivers top-quality services.</ion-row>
          <ion-row class="ion-padding-top ion-justify-content-start">
            <ion-col size="auto">
              <ion-button color="primary">Hire Me!</ion-button>
            </ion-col>
            <ion-col size="auto">
              <ion-button  class="download" fill="outline">Download CV  <ion-icon name="download-outline"></ion-icon></ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col class="ion-padding-start">
          <!-- <div class="my-image"> -->
            <img src="../../assets/icon/profilePhoto.png" height="535px" width="550px">
          <!-- </div> -->
        </ion-col>
      </ion-row>
    
    </ion-grid>
  </section>
  <ion-grid class="ion-padding  technologies ion-align-items-center" id="icons">
    <ion-row class="ion-padding ion-align-items-center ion-justify-content-center">
      <ion-col size="auto" *ngFor="let index of [1,2,3,4]">
        <img src='../../assets/icon/logo-1.svg'>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-about></app-about>
</div>
