#home{
  // background-color: #d4d8e0;
  background-color: #F6F8FF;
}
.my-image
{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img{
    width: 700px;
  }
  @media screen and (max-width:576px) {
    img{
      width: 100vw;
    }
  }
}
img{
  max-width: none;
}
.welcome-text
{
  color: #222;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @media screen and (max-width:576px) {
    font-size: 20px;
    line-height: 30px;
  }
}
.highlight-text
{
  color: #222;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px; /* 125% */
  @media screen and (max-width:576px) {
    font-size: 30px;
    line-height: 40px;
  }
}
.name-text
{
  color:var(--ion-color-primary);
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  @media screen and (max-width:576px) {
    font-size: 40px;
    line-height: 45px;
  }
}
.sub-text
{
  color: #222;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 140% */
  @media screen and (max-width:576px) {
    font-size: 20px;
    line-height: 30px;
  }
}
.technologies
{
  background-color: white;
  min-height: 180px;
  >ion-row{
    gap: 100px;
  }
  @media screen and (max-width:600px) {
    min-height: auto;
    >ion-row{
      gap: 20px;
    }
  }
}

.download
{
  color: var(--ion-color-primary);
  --border-width:1px;
}

@media screen and (max-width:991px) {
  .order-image
  {
    order: -1;
  }
}
.cursor{
  width: 5px;
  background-color: #0666FF;
  // height: 100%;
  animation: blink 1s infinite;
}
@keyframes blink {
  0%, 100% {
    background-color: transparent; /* White */
  }
  50% {
    background-color: #0666FF; /* Blue */
  }
}
.language-icon
{
  height:110px;
  opacity: 0.5;
  @media screen and (max-width:600px) {
    height: 60px;
  }
}